.sidebar {
    background-color: #B0D6B2;
    width: 52px;
    height: 100%;
    border-top-right-radius: 15px;
    overflow: auto;
}

.sidebar button {
    position: relative;
    background-color: transparent;
    border-color: transparent;
    border-radius: 12px;
    display: inline-block;
    left: 0px;
    top: 10px;
    width: 40px;
    height: 40px;
    z-index: 9;
    overflow: hidden;
}

.sidebar button:hover {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 1px black;
}

img {
    width: 25px;
    height: 25px;
}

/* sidebar open */
.open {
    text-align: left;
    align-content: center;
    z-index: 100;
    padding: 12px;
    border-top-right-radius: 15px;
    background-color: #B0D7B2;
    width: 238px;
    height: 100%;
    top: 15%;
    position: fixed;
    animation: change 0.4s ease-in forwards;
}
@keyframes change {
    from {
        left: -238px;
    }
    to {
        left: 0;
        visibility: visible;
    }
}

/* sidebar close */
.close {
    text-align: left;
    align-content: center;
    z-index: 100;
    padding: 12px;
    border-top-right-radius: 15px;
    background-color: #B0D7B2;
    width: 238px;
    height: 100%;
    left: -238px;
    top: 15%;
    position: fixed;
    animation: showsidebar 0.4s ease-in forwards;
}

@keyframes showsidebar {
    from {
        transform: translateX(0);
        visibility: visible;
    }
    to {
        transform: translateX(-238px);
        
    }
}

.open .closebutton {
    position: absolute;
    background-color: transparent;
    border-color: transparent;
    border-radius: 12px;
    display: inline-block;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    z-index: 9;
    overflow: hidden;
}

.open .closebutton:hover {
    box-shadow: none;
}

/* .container {
    background-color: #E3ECF1;
    border-right: 4px solid #202020;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transition: 0.4s ease;
    color: #202020;
    width: 52px;
    height: 100%;
    z-index: 99;
}

.sidebar {
    background-color: #E3ECF1;
    border-right: 4px solid #202020;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transition: 0.4s ease;
    color: #202020;
    width: 52px;
    height: 52px;
    z-index: 99;
}
.button {
    position: relative;
    left: 330px; 
    top: 10px;
    width: 25px;
    height: 25px;
    z-index: 99;
    transition: 0.8s ease;
    border: 2px solid #202020;
    border-radius: 40px;
    overflow: hidden;
}
.openUser {
    width: 25px;
    height: 25px;
} */